<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>create_school</h1>
        <form method="POST">
            {% csrf_token %}
            <label for="sn">sName</label>
            <input type="text" name="sn" id="sn"> <br> <br>

            <label for="sl">sLocation</label>
            <input type="text" name="sl" id="sl"> <br> <br>
            
            <label for="pr">Principal</label>
            <input type="text" name="pr" id="pr"> <br> <br>

            <input type="submit">
        </form>   
    </center>
    
    
</body>
</html>